<p style="color: green"><%= notice %></p>

<h1><%= @recipe_display == 'public' ? "Public Recipes" : "Recipes" %></h1>

<div id="recipes">
  <%= render partial: "recipe", collection: @recipes, locals:{recipe_display: @recipe_display} %>  
</div>
<% if can? :create, Recipe %>
  <%= link_to "New recipe", new_recipe_path %>
<% end %>
