<div class="container">
  <div class="recipes__top">
    <h1>New recipe</h1>
    <%= link_to "Back to recipes", recipes_path, class:"btn btn--danger" %>
  </div>
  <%= render "form", recipe: @recipe %>
  <br>
</div>
