<% content_for :title, 'Smart Budget' %>
<div class="header">
  <%= image_tag "/pink-blackhole-no-background.png", class: 'logo' %>
  <h1 class="title">My Blackhole</h1>
</div>

<div class="actions">
  <%= link_to new_user_session_path, class: 'button login-button' do %>
    <span>Log In</span>
  <% end %>
  <%= link_to new_user_registration_path, class: 'button register-button' do %>
    <span>Register</span>
  <% end %>
</div>
