<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<%= link_to "Add food (new)", new_food_path %>
<div id="foods">
  <table>
    <tr>
      <td><strong>Name:</strong></td>
      <td><strong>Measurement unit:</strong></td>
      <td><strong>Price:</strong></td>
      <td><strong>Quantity:</strong></td>
      <td><strong>User:</strong></td>
      <td><strong>Actions:</strong></td>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <%= render food %>
        <td><%= link_to "Show this food", food %></td>
      </tr>
    <% end %>
  </table>
</div>

