/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  color: #070a52;
  cursor: pointer;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 0 0.1em inset #070a52;
  transition: all 0.4s;
  padding: 8px 16px;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background: #070a52;
}

.btn:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: #070a52;
}

.btn--success {
  color: #479c2b;
  box-shadow: 0 0 0 0.1em inset #479c2b;
}

.btn--success:hover {
  background: #479c2b;
  color: #fff;
}

.btn--success:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: #479c2b;
}

.btn--primary {
  color: #3f40fa;
  box-shadow: 0 0 0 0.1em inset #3f40fa;
}

.btn--primary:hover {
  background: #3f40fa;
  color: #fff;
}

.btn--primary:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: #3f40fa;
}

.btn--danger {
  color: #e74646;
  box-shadow: 0 0 0 0.1em inset #e74646;
}

.btn--danger:hover {
  background: #e74646;
  color: #fff;
}

.btn--danger:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: #e74646;
}

.table {
  margin-top: 16px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.table__row {
  background: #f6f6f6;
}

.table__row:nth-of-type(odd) {
  background: #e9e9e9;
}

.table__header {
  font-weight: 900;
  color: #fff;
  background: #ea6153;
}

.table__cell {
  padding: 6px 12px;
}

.text-center {
  text-align: center;
}
