form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 160px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #4ca000;
}

input:focus {
  background: #f3f3f3;
  transition: 0.1s;
  box-shadow: inset 6px 6px 9px #9f9f9f, inset -6px -6px 9px #ffff;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
