.recipes__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe__card {
  display: flex;
  width: 100%;
  min-height: 80px;
  border: 1px solid #000;
  padding: 16px;
  margin-bottom: 16px;
  gap: 32px;
}

.recipe__card-left,
.recipe__card-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipe__card-right {
  text-align: left;
}

.custom_modal_checkbox {
  display: none;
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 9999;
}

.custom_modal_checkbox:checked ~ .modal,
.custom_modal_checkbox:checked ~ .modal-background {
  display: block;
}

.modal > p {
  padding: 15px;
  margin: 0;
}

.modal__content {
  padding-top: 16px;
}

.modal__title {
  padding-top: 16px;
}

.modal-header label {
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  float: right;
  line-height: 50px;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.modal-header label:hover img {
  opacity: 0.6;
}

.btn__container {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: inherit;
}

.test {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
}
