.recipes__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe__card {
  display: flex;
  width: 100%;
  min-height: 80px;
  border: 1px solid #000;
  padding: 16px;
  margin-bottom: 16px;
  gap: 32px;
}

.recipe__card-left,
.recipe__card-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.recipe__card-right {
  text-align: left;
}
